.footer {
  background-color: var(--footer-background);
  color: var(--text-secondary-color);
  margin-top: 66px;
  text-align: center;
  font-size: 12px;
  line-height: 1.7;
  padding: 12px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 14px;
  }
}