:root {
  --background-color: #f7f9f6;
  --title-text-color: #1b3b2b;
  --text-primary-color: #333333;
  --text-secondary-color:#f7f9f6;
  --button-color: #10b981;
  --link-color: #e5c158;
  --footer-background:#0f3822;

  --menu-text-weight: 500;
  --text-weight: 400;
  --title-text-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  main {
    padding: 22px 32px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 22px 66px;
  }
}
