:root{
  --background-color: #F7F9F6;
  --title-color: #1B3B2B;
  --text-color: #333333;
  --buttom-color: #10B981;
  --link-color: #E5C158;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}